body {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

.container {
  width: 960px;
  height: auto;
  margin: auto;
  background-color: #222;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: green;
  height: auto;
  width: 100%;
}
.left {
  width: 100%;
  margin-left: 20px;
  justify-content: center;
}

.left img {
  width: 100%;
  height: auto;
}

.right {
  background-color: green;
  color: white;
  text-align: center;
}

.right h1 {
  font-size: 2.4em;
  text-align: center;
  margin: 45px;
  padding: 2px;
  font-weight: bold;
}

.wrapper-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #222;
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.child-wrapper-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: auto;
}
.card-child {
  width: 90%;
  background-color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.3em;
  margin: auto;
  text-align: center;
}
.card {
  width: 95%;
  background-color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
  margin: auto;
}

.wrapper-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.txt-danger {
  color: red;
  font-weight: bold;
}
